.weather-container{
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
}

.weather-container > h3{
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.Weather-List{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 gap: 10px;
 align-items: center;
}

.Weather-Item{
text-align: center;
background-color: rgba(122, 115, 115, 0.186);
padding: 10px;
border-radius: 12px;
}

.Forecast-Day{
    text-transform: capitalize;
}

.Forecast-Description{
    text-transform: capitalize;
    margin-bottom: 4px;
}

/* Responsividade */

@media (max-width: 380px){
    .Weather-Item{
        padding-bottom: 18px;
        margin: auto;
        text-align: center;
    }
}